pipeline/Pl_Load_Silver_Dim.json
{
	"name": "Pl_Load_Silver_Dim",
	"properties": {
		"activities": [
			{
				"name": "ForEach Silver Dim",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('v_folder_sp_array')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Delete_Silver_Dim_Files",
							"type": "Delete",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "ds_synapse_adls_silver",
									"type": "DatasetReference",
									"parameters": {
										"folder_path": {
											"value": "@item().folder_path",
											"type": "Expression"
										}
									}
								},
								"enableLogging": false,
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							}
						},
						{
							"name": "Load_Silver_Dim_Ext_Tables",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Delete_Silver_Dim_Files",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": {
									"value": "@item().sp_name",
									"type": "Expression"
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_serverless_sales_ldw",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"variables": {
			"v_folder_sp_array": {
				"type": "Array",
				"defaultValue": [
					{
						"folder_path": "silver/dim_customer",
						"sp_name": "silver.sp_silver_dim_customer"
					},
					{
						"folder_path": "silver/dim_date",
						"sp_name": "silver.sp_silver_dim_date"
					},
					{
						"folder_path": "silver/dim_employee",
						"sp_name": "silver.sp_silver_dim_employee"
					},
					{
						"folder_path": "silver/dim_geography",
						"sp_name": "silver.sp_silver_dim_geography"
					}
				]
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-09-05T14:02:58Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}